.header{
    height: 100px !important;
    position: fixed;
    width: 100%;
    z-index: 99999 !important;
}

.active{
    border-bottom: 4px solid #FFE400;
}

.header-custom-select{
    outline: none;
}
.header-custom-btn{
    width: 115px;
    height: 50px;
    background: #FFE400;
    border-radius: 0px !important;
    font-size: 16px;
    font-weight: 600;
}
.header-custom-btn-sticky{
    background: #ffffff;
    border: 3px solid #FFE400 !important;
    color: #000 !important;
    width: 115px;
    height: 50px;
}
.get-application{
    background: url("https://i.ibb.co/qytcrwZ/Rectangle-4.png") no-repeat;
    background-size: cover;

}
.burger-btn{
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}